name: Tag on update
on:
  schedule:
  - cron: '*/5 * * * *'
jobs:
  tag-on-update:
    runs-on: ubuntu-slim
    permissions:
      contents: write
    steps:
    - id: generate-tags
      run: |
        curl 'https://auth.docker.io/token?scope=repository:library/nginx:pull&service=registry.docker.io' \
          --output-dir ${{ runner.temp }} \
          --output nginx_repo_token.response \
          --remote-time \
          --fail
        NGINX_TOKEN="$(jq --raw-output '.token' <${{ runner.temp }}/nginx_repo_token.response)"
        curl https://registry-1.docker.io/v2/library/nginx/manifests/1 \
          -H "Authorization: Bearer $NGINX_TOKEN" \
          -H 'Accept: application/vnd.oci.image.index.v1+json' \
          --output-dir ${{ runner.temp }} \
          --output nginx.manifest \
          --remote-time \
          --fail
        NGINX_VERSION="$(jq --raw-output '.manifests[0].annotations["org.opencontainers.image.version"]' <${{ runner.temp }}/nginx.manifest)"
        NGINX_DAV_EXT_MODULE_URL="$(curl --head https://github.com/arut/nginx-dav-ext-module/releases/latest --output /dev/null --write-out '%{redirect_url}' --fail)"
        NGINX_DAV_EXT_MODULE_VERSION="${NGINX_DAV_EXT_MODULE_URL##*/v}"
        printf 'TAG=%s\nNGINX_VERSION=%s\n' "nginx-${NGINX_VERSION}_nginx-dav-ext-module-$NGINX_DAV_EXT_MODULE_VERSION" "$NGINX_VERSION" >>"$GITHUB_OUTPUT"
    - id: tag-exists
      run: |
        HTTP_CODE="$(curl --head "${{ github.server_url }}/${{ github.repository }}/releases/tag/${{ steps.generate-tags.outputs.TAG }}" --output /dev/null --write-out '%{http_code}')"
        printf 'HTTP_CODE=%s\n' "$HTTP_CODE" >>"$GITHUB_OUTPUT"
    - if: ${{ success() && steps.tag-exists.outputs.HTTP_CODE == 404 }}
      run: |
        curl -X POST ${{ github.api_url }}/repos/${{ github.repository }}/git/refs \
          -H 'Authorization: Bearer ${{ secrets.RECURSIVE_ACTIONS }}' \
          -H 'Accept: application/vnd.github+json' \
          --data-raw '{"ref":"refs/tags/${{ steps.generate-tags.outputs.TAG }}","sha":"${{ github.sha }}"}' \
          --fail
